@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
body { 
    margin: 0;
    cursor: url("assets/cursor.png"), auto;
}
canvas { 
    display: block; 
}

h3 {
    margin: 0px;
    font-family: 'Pangolin', cursive;
}

h1 {
    font-family: 'Pangolin', cursive;
}

.img{
    max-width: 30%;
}

.big {
    width: 150px !important;
}

.carreta{
    font-family: 'Pangolin';
    font-size: 25px;
}