@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
body { 
    margin: 0;
    cursor: url("assets/cursor.png"), auto;
}
canvas { 
    display: block; 
}

h3 {
    margin: 0px;
    font-family: 'Pangolin', cursive;

}

h1 {
    font-family: 'Pangolin', cursive;
    font-size: 60px;
}

.img{
    max-width: 60%;
}

.big {
    font-family: 'Pangolin';
    font-size: 30px;
    width: 400px !important;
}

.carreta{
    font-family: 'Pangolin';
    font-size: 20px;
}

.margin-top{
    margin-top: 60px;
}